#details {
    background-color: rgba(197, 179, 88, 0.158);
    height: 450px;
    padding-top: 3%;
    box-sizing: inherit;
}

.buttonBackHome {
    background-color: rgba(14, 15, 22, 0.555);
    display: inline;
    padding: 0px 20px;
    cursor: pointer;
    margin: 3%;
}

.backHome {
    font-size: 12px;
    color: white;
    border: 1px solid  #C5B358;
    box-shadow: 0 0 8px 0 rgba(14, 15, 22, 0.886);
    text-decoration: none;
}

.buttonBackHome:active {
    background-color: #C5B358;
  }
  
.buttonBackHome, .buttonBackHome:focus {
    outline: 0;
  }