.App {
  width: 100%;
  text-align: center;
  }
  
.coverRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }

  .coverRow > * {
    flex: 1;
    flex-basis: 300px;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
  body {
        background-color: #C5B358;
        }
          .coverRow {
            display: block;
          }
  }