.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 6em;
}

.App-body {
  font-size: 2.5em;
}

.Cover-subtitle-overlay {
  font-size: 40px;
  text-align: center;
  bottom: 0;
  color: rgb(192, 182, 93);
  position: absolute;
  background-color: black;
  padding: 40px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  flex-basis: 100%;
}

.AAMM {
  width: 80%;
}

.Cover-image {
  flex: 1;
  flex-basis: 100%;
  }

  img {
    height: auto;
    width: 100%;
  }

  @media only screen and (max-width: 600px) {
    body {
        background-color: rgb(192, 182, 93);
    }

    .container {
      display: block;
    }
}