.App {
  text-align: center;
  width: 100%;
}
  
.coverContainer {
  display: flex;
  justify-content: space-evenly;
}

.coverImage {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  }

.coverImage:hover .coverTitle {
  bottom: 0;
  }

.cover {
  width: 100%;
  }

.coverTitle {
  color: rgb(192, 182, 93);
  background-color: rgb(2, 2, 0);
  position: absolute;
  transition: bottom 3s ease;
  opacity: 0.8;
  width: 100%;
  bottom: -210px;
  height: 15%;
  }

@media only screen and (max-width: 600px) {
  body {
        background-color: rgb(192, 182, 93);
      }
       .coverContainer {
        display: block;
      }
}