.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 6em;
}

.App-body {
  font-size: 2.5em;
}

.AAMM {
  width: 80%;
}

.container {
  display: flex;
  justify-content: space-around;
}

.Title {
  font-size: 30px;
  color: rgb(192, 182, 93);
  background-color: black;
  position: absolute;
  width: 100%;
  bottom: 0;
  opacity: 0;
  z-index: 1;
}

.Cover-image {
  flex-grow: 1;
  margin: auto;
  position: relative;
  }

  /* img {
    height: auto;
    width: 100%;
  }  */

  .Slika {
    width: 100%;
  }

  .Cover-image:hover .Title {
    opacity: 1;
    height: 15%;
  }

  @media only screen and (max-width: 600px) {
    body {
        background-color: rgb(192, 182, 93);
    }

    .container {
      display: block;
    }
}